
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 1.15; //* 1.25 */
  font-size: 100%;
  width: 100%;
}

// /* body { */
//   /* font-family: 'Exo', -apple-system,BlinkMacSystemFont,"Segoe UI", 'Roboto', Arial, Helvetica, sans-serif; */
//   /* font-weight: 400;
//   background-color: #fff;
//   color: #666c72;
//   font-size: 0.875rem; */
//   /* overflow: hidden; */
// /* } */

button {
  border: 0;
  cursor: pointer;
  font-size: 1em;
  background: #fff;
  font-family: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.h2 {
  display: block;
  text-align: center;
  padding: 15px 20px 10px 20px;
  font-size: 24px;
  line-height: 24px;
  // line-height: 50px;
  color: #777;
  text-transform: uppercase;
  font-weight: bold;
  .mb {
    font-size: 18px;
  }
  span {
    color: #0b3145;
  }
}



// LOCAL LAYOUT
// #__next {
//   overflow: hidden;
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
// }

// .main {
//   flex-grow: 1;
//   flex-shrink: 1;
//   flex-basis: auto;
//   overflow: hidden;

//   position: relative;
//   height: 100%;
//   .container {
//     height: 100%;
//   }
// }


